:root {
    --color1: #54ccca;
    --color2: #3fa2a0;
    --color3: #2a7776;
    --color4: #154d4c;
    --color5: #002322;
    --white: #fff;
    --black: #000;
    --gray-light: #f3f3f379;
    --bs-gray-100: #f5f5f5;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

/* header {
    background-color: var(--color4);
    color: var(--white);
    padding: 20px;
    text-align: center;
} */

.carousel-container {
    position: relative;
    display: grid;
    top: 50%;
    max-width: 800px;
    max-height: 200px;
    margin: 0 auto;
}

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel-slide {
    flex: 0 0 auto;
    width: 100%;
    transition: 0.5s ease;
}

.carousel-slide img {
    width: 100%;
    height: auto;

}

.carousel-inner {
    text-align: center;
}

.carousel-inner img {
    position: relative;
    text-align: center;
    max-width: 100%;
    height: 500px;
    /* Altura da imagem dentro do carrossel */
}




.prev-btn,
.next-btn {
    position: relative;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 18px;
    z-index: 1;
    margin: 0;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


/* Album Quartos Index */
.div-album {
    margin-bottom: 10px;

}

h2 {
    text-align: center;
    font-size: 230%;
    font-style: Helvetica;
}

.class_more_itens {
    background-color: var(--gray-light);
    padding: 20px 100px;

}

.class_more_itens a {
    color: var(--black);
    float: right;
    text-decoration: none;
}
/*Button*/
#btnContent {
    margin: 10px;
    padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px var(--bs-gray-100);
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-decoration: none;

    color: var(--white);
    border: 1px solid var(--bs-gray-100);
    background: #ffffff00;
    transition: all 0.2s ease-in-out;
    text-transform: capitalize;
}

/*Button inicio*/
#btnContent:hover {
    background-color: var(--bs-gray-100);
    box-shadow: 0px 15px 20px var(--color2);
    border: 1px solid var(--bs-gray-100);
    color: var(--black);
    transform: translateY(-7px);
    transition: all 0.2s ease-in-out;
    text-transform: capitalize;
}

#btnContent:active {
    transform: translateY(-1px);
}



/* teste pagina Cadarpio */



.container-menu {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.nav button {
    margin: 0 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-color: var(--white);
    cursor: pointer;
}

.nav button.active {
    background-color: var(--black);
    color: var(--white);
}


/*Img Pratos*/
.persons-icon {
    justify-content: center;
    justify-items: center;
    top: 150%;
    padding: 20px;
    display: flex;
}

.persons-icon img {
    border-radius: 10%;
    padding: 1%;
    width: 300px;
    height: 300px;
}

/*Nome Pratos*/
.person h1 {
    font-size: 40px;
    text-align: center;
}



/* Menu Index Cadarpio */

.image-container-menu {
    position: relative;
    cursor: pointer;
    width: 75%;
    height: 40%;
    border-radius: 3%;
    /*zoom*/
    overflow: hidden;
    transition: all 0.3s;
}

.image-container-menu:hover {
    transform: scale(1.1);
}

.image-container-menu img {
    width: 100%;
    height: auto;
}

.image-container-pequeno {
    position: relative;
    width: 45%;
    height: 200px;
    display: flex;
    border-radius: 3%;

    /*zoom*/
    overflow: hidden;
    transition: all 0.3s;
}

.image-container-pequeno:hover {
    transform: scale(1.1);
}

.image-container-pequeno img {
    width: 100%;
    height: auto;
}

.text-menu {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--white);
    font-weight: bold;
}

.btn-cadarpio {
    display: flex;
    justify-content: right;
}

.btn-cadarpio a {
    color: var(--black);
    text-decoration: none;
}

.menu-food {
    background-color: var(--bs-gray-100);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.border {
    margin: 1%;
    border-style: none;
}

.btn-position {
    position: relative;
    left: 10px;
    bottom: 10px;

}

.click {
    cursor: pointer;
}

.menu-adm {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Content*/
#a {
    font-style: none;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

/*adm*/
.content_donate {
    position: absolute;
    left: 15%;
    text-align: center;
    background-color: var(--color4);
    width: 30%;
    height: 70%;
    border-radius: 10%;
    margin-bottom: 5%;
}

/* Administracao*/
.content-text textarea {

    color: rgb(255, 255, 255);
    width: 90%;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    border: solid 1.5px #ffffffd1;
    resize: none;
    border-radius: 10px;
    background: #ffffff86;
    transition: 00.2s;
    text-decoration: none;
}

.content-text textarea:hover {
    background-color: #0c0c0c;
    box-shadow: 0px 15px 20px #282936bb;
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
}

/*Contato*/
.content_contact {
    right: 15%;
    position: absolute;
    text-align: center;
    background-color: var(--color4);
    width: 30%;
    height: 70%;
    border-radius: 10%;
    margin-bottom: 5%;
}

.content_contact h1 {
    text-align: center;
    color: white;
}

.content_donate h1 {
    color: white;
}

/* From Uiverse.io by cuzpq */ 
.theme-checkbox {
    --toggle-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
  }
  
  .theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
  }
  
  .theme-checkbox:checked {
    background-position: 100%;
  }

/* From Uiverse.io by 0xnihilism */ 
.container_dashboard{
   display: grid;
   place-items: center;
}
.brutalist-card {
    width: 320px;
    border: 4px solid #000;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 10px 10px 0 #000;
    font-family: "Arial", sans-serif;
  }
  
  .brutalist-card__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #000;
    padding-bottom: 1rem;
  }
  
  .brutalist-card__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 0.5rem;
  }
  
  .brutalist-card__icon svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: #fff;
  }
  
  .brutalist-card__alert {
    font-weight: 900;
    color: #000;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  .brutalist-card__message {
    margin-top: 1rem;
    color: #000;
    font-size: 0.9rem;
    line-height: 1.4;
    border-bottom: 2px solid #000;
    padding-bottom: 1rem;
    font-weight: 600;
  }
  
  .brutalist-card__actions {
    margin-top: 1rem;
  }
  
  .brutalist-card__button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #000;
    background-color: #fff;
    color: #000;
    position: relative;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 0 #000;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  
  .brutalist-card__button--read {
    background-color: #000;
    color: #fff;
  }
  
  .brutalist-card__button::before {
    content: "";
    position: flex;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent
    );
    transition: all 0.6s;
  }
  
  .brutalist-card__button:hover::before {
    left: 100%;
  }
  
  .brutalist-card__button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 7px 7px 0 #000;
  }
  
  .brutalist-card__button--mark:hover {
    background-color: #296fbb;
    border-color: #296fbb;
    color: #fff;
    box-shadow: 7px 7px 0 #004280;
  }
  
  .brutalist-card__button--read:hover {
    background-color: #ff0000;
    border-color: #ff0000;
    color: #fff;
    box-shadow: 7px 7px 0 #800000;
  }
  
  .brutalist-card__button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
  }
  

.div-cadarpio{
    display: grid;
    place-items: center;
}
  /* From Uiverse.io by arshshaikh06 */ 
.container-cadarpio {
    height: 500px;
    width: 1100px;
    border-radius: 1em;
    overflow: hidden;
   
    font-family: sans-serif;
  }
  
  .palette {
    display: flex;
    height: 86%;
    width: 100%;
  }
  
  .color {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: flex 0.1s linear;
  }
  
  .color span {
    opacity: 0;
    transition: opacity 0.1s linear;
  }
  
  .color:nth-child(2) {
    background-image: url("/images/prato-menu.jpg");
}

.color:nth-child(1) {
    background-image: url("/images/img_prato_cafe.avif");
}

.color:nth-child(3) {
    background-image: url("/images/img_menu_sobremesa.jpeg");
}

.color:nth-child(4) {
    background-image: url("/images/img_food.jpeg");
}

.color:nth-child(5) {
    background-image: url("/images/img_food.jpeg");
}
  
  .color:hover {
    flex: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .color:hover span {
    opacity: 1;
  }
  
  .stats {
    height: 14%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    box-sizing: border-box;
    color: #bebebe;
  }
  
 


.btnMenu {
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;

  }
  
  .tntnMenu .icon {
    position: absolute ;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  

  #btnReservar {
    background-color: #4CAF50; /* Cor de fundo verde */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #btnReservar:hover {
    background-color: #3e8e41; /* Cor de fundo verde mais escuro no hover */
  }
  .section {
    position: relative; /* Necessário para o posicionamento do overlay */
}

.overlay {
    position: absolute; /* Posiciona o overlay em relação à seção */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Preto com 50% de opacidade */
    pointer-events: none; /* Permite que cliques passem através do overlay */
}
